*{
    margin: 0;
    padding: 0;
}

#scroll{
    height: 8px;
    background-color: red;
    position: fixed;
}
.gray{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.blue{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 107, 174);
}